* {
    font-family: Comic Sans MS !important;
    font-size: 1.2rem !important;
}

body{
  pointer-events:none;
}

*.uppercase{
  text-transform: lowercase:;
}

*.lowercase{
  text-transform: uppercase;
}
